<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Leaders</title>
</head>
<body>
<div class="container">
    <div class="container-headline">
        <h1 class="headline">Больше всего коммитов</h1>
        <p class="body-text light">Спринт № 213</p>
    </div>
    <div class="container-inner">
        <section class="container-rank">
            <section class="personal-info">
                <p class="emoji">👑</p>
                <img src="https://s3-alpha-sig.figma.com/img/236a/57b6/801d5013ae729a41bc1930fff970ad14?Expires=1614556800&Signature=AQihFf1a7oxrMXV6~YWDnGMWOe0XrmWh0WaUVkeRoovDejIYXvY5Q5Cq~CSLfRrxGzJiJqzKrIdefOFuxHiSEgiA33sxVVFQGufV0cyvfAlWPZuLXW0NZ2ehsIcCAbP7JjB9pYYMgN6SKQbEKQbMreTecN2g9jaSCy40VZYp-BJM1eYkUPR-KregWP1ul8r1E9ujnEjP9HxIpTK-dSUkndeo08nPDqgz1Qm0qncehZqRAiPn4EnMVxhjyhejNXvu4v5T99LU2PTMJdWASGPUgwipfPLLexyCcR6quvTm6GGR3gSAXq~kCzmXfeU7pCiDkutNq5DsHPvNdYzIBuFqIw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="avatar" class="avatar">
                <p class="body-text name">Дмитрий Андриянов</p>
                <p class="caption light">32</p>
            </section>
            <div class="column low">
                <h1 class="headline">3</h1>
            </div>
        </section>
        <section class="container-rank main">
            <section class="personal-info">
                <p class="emoji">👑</p>
                <img src="https://s3-alpha-sig.figma.com/img/236a/57b6/801d5013ae729a41bc1930fff970ad14?Expires=1614556800&Signature=AQihFf1a7oxrMXV6~YWDnGMWOe0XrmWh0WaUVkeRoovDejIYXvY5Q5Cq~CSLfRrxGzJiJqzKrIdefOFuxHiSEgiA33sxVVFQGufV0cyvfAlWPZuLXW0NZ2ehsIcCAbP7JjB9pYYMgN6SKQbEKQbMreTecN2g9jaSCy40VZYp-BJM1eYkUPR-KregWP1ul8r1E9ujnEjP9HxIpTK-dSUkndeo08nPDqgz1Qm0qncehZqRAiPn4EnMVxhjyhejNXvu4v5T99LU2PTMJdWASGPUgwipfPLLexyCcR6quvTm6GGR3gSAXq~kCzmXfeU7pCiDkutNq5DsHPvNdYzIBuFqIw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="avatar" class="avatar">
                <p class="body-text name">Дмитрий Андриянов</p>
                <p class="caption light">32</p>
            </section>
            <div class="column high">
                <h1 class="headline">1</h1>
                <div class="vote-leader">
                    <section class="personal-info">
                        <p role="img" aria-label="emoji-status" class="emoji">👑</p>
                        <img src="https://s3-alpha-sig.figma.com/img/236a/57b6/801d5013ae729a41bc1930fff970ad14?Expires=1614556800&Signature=AQihFf1a7oxrMXV6~YWDnGMWOe0XrmWh0WaUVkeRoovDejIYXvY5Q5Cq~CSLfRrxGzJiJqzKrIdefOFuxHiSEgiA33sxVVFQGufV0cyvfAlWPZuLXW0NZ2ehsIcCAbP7JjB9pYYMgN6SKQbEKQbMreTecN2g9jaSCy40VZYp-BJM1eYkUPR-KregWP1ul8r1E9ujnEjP9HxIpTK-dSUkndeo08nPDqgz1Qm0qncehZqRAiPn4EnMVxhjyhejNXvu4v5T99LU2PTMJdWASGPUgwipfPLLexyCcR6quvTm6GGR3gSAXq~kCzmXfeU7pCiDkutNq5DsHPvNdYzIBuFqIw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="avatar" class="avatar">
                        <p class="body-text name">Дмитрий Андриянов</p>
                        <p class="caption">32</p>
                        <span></span>
                    </section>
                    <h1 class="headline">5</h1>
                </div>
            </div>
        </section>
        <section class="container-rank">
            <section class="personal-info">
                <img src="https://s3-alpha-sig.figma.com/img/236a/57b6/801d5013ae729a41bc1930fff970ad14?Expires=1614556800&Signature=AQihFf1a7oxrMXV6~YWDnGMWOe0XrmWh0WaUVkeRoovDejIYXvY5Q5Cq~CSLfRrxGzJiJqzKrIdefOFuxHiSEgiA33sxVVFQGufV0cyvfAlWPZuLXW0NZ2ehsIcCAbP7JjB9pYYMgN6SKQbEKQbMreTecN2g9jaSCy40VZYp-BJM1eYkUPR-KregWP1ul8r1E9ujnEjP9HxIpTK-dSUkndeo08nPDqgz1Qm0qncehZqRAiPn4EnMVxhjyhejNXvu4v5T99LU2PTMJdWASGPUgwipfPLLexyCcR6quvTm6GGR3gSAXq~kCzmXfeU7pCiDkutNq5DsHPvNdYzIBuFqIw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="avatar" class="avatar">
                <p class="body-text name">Дмитрий Андриянов</p>
                <p class="caption light">32</p>
            </section>
            <div class="column middle">
                <h1 class="headline">2</h1>
            </div>
        </section>
    </div>
</div>
</body>
</html>